<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <property name="CONSOLE_LOG_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%5level) %cyan(%logger) - %msg%n"/>
  <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %5level %logger - %msg%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${APP_NAME}/log/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="BATCH_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>ep-be-tlm-batch/log/%d{yyyyMMdd}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>100MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <!-- API App Profile -->
  <springProfile name="local">
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" />
    <logger name="com.smilegate.ep.be.tlm.core" level="DEBUG" />
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>

  <springProfile name="prod-tlm">
    <root level="INFO">
      <appender-ref ref="FILE"/>
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="prod-checkin">
    <root level="INFO">
      <appender-ref ref="FILE"/>
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="prod-common">
    <root level="INFO">
      <appender-ref ref="FILE"/>
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <!-- Batch App Profile -->
  <springProfile name="local-batch">
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" />
    <logger name="com.smilegate.ep.be.tlm.core" level="DEBUG" />
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="dev-batch|prod-batch">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="BATCH_FILE"/>
    </root>
  </springProfile>

</configuration>
